:root{
    --header-gradient:linear-gradient(#e1f7f0, #68ddb6);
    --color-main:  #007566;
    --secondary-color:#68ddb6;
    --box1-color:#68c0b1;
    --box2-color:#cefff7;
    --box3-color:#ffffff00;
    --background-main:rgb(240, 255, 255);
    --link-hover:black;
    --link-color:#051a1a;
    --text-color:#004e4e;
    --text-color2:#002424;
    --gradient-main: linear-gradient(90deg, rgba(240, 255, 255, 1) 0%, rgba(173, 237, 199, 1) 70%, rgba(237, 221, 83, 0) 100%)

}

html{
    scroll-behavior: smooth;
    scroll-padding: 100px;
}
section[id]{
    scroll-margin-top: 100px !important;
}
img{
    box-shadow: 5px 5px var(--color-main);
    border: 2px solid var(--color-main);
}
.imagem1{
    width: 200px;
    height: 200px;
    margin: 10px 10px;
    object-fit: cover;
}
body{
    padding: 0;
    text-align: center;
    margin: 0;
    background-color:var(--background-main) ; 
    font-family: 'IBM Plex Serif';
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header{
    background: var(--header-gradient);
    flex-direction: column;
    padding: 5px 0px;
    color: var(--color-main);
}
footer{
    background-color: var(--secondary-color);
    padding: 1px 0px;

}
.menu{
    border-top: 2px solid var(--color-main);
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 5px 0px;
    
    
}
li{
    text-align: left;
}
ul{
    list-style-type:none;
}
nav{
    display: flex;
    gap: 25px;
}

a{
    text-decoration:none;
    color: var(--link-color);
    font-weight: 400;
    box-shadow: inset var(--color-main);
    border-radius: 5px;
    padding: 0px 2px;
    margin: 0px 2px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}
a:hover{
    color: var(--box2-color);
    box-shadow: inset 200px 0 0 0 var(--color-main);
    border-radius: 5px;
}

.box{
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color:var(--box1-color);
    box-shadow: 10px 10px var(--color-main);
    gap: 80px;
    width: 50%;
    height: 60%;
    padding: 20px 20px;
    border-radius: 5px;
    margin: 140px auto;
    margin-top: 10px;
    
    font-size: 20px;
    color: var(--text2-color);
    
}
.box2{
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 100px;
    background-color: var(--box2-color);
    box-shadow: 10px 10px var(--color-main);
    width: 70%;
    height: 60%;
    padding: 20px 20px;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    margin: 140px auto;
    margin-top: 10px;
    
    color: var(--text-color);
    font-size: 20px;
    

}

.box3{
    position: relative;
    text-align: left;
    background-color: var(--box3-color);
    box-shadow: 10px 10px var(--color-main);
    color: var(--text-color);
    width: 15%;
    height: 60%;
    left: 500px;
    border-radius: 5px;
    text-align: left;
}
.box4{
    position: relative;
    text-align: left;
    background-color: var(--box3-color);
    box-shadow: 10px 10px var(--color-main);
    color: var(--text-color);
    width: 19%;
    height: 60%;
    left: 400px;
    border-radius: 5px;
    text-align: left;
}


#problema{
    display: flex;
}
#tecnologia{
    display: flex;
}

#objetivos{
    display: flex;
}

#publico{
    display: flex;
}
#beneficios{
    display: flex;
}

#dia-a-dia{
    display: flex;
}
.b-w-mode:root{
    --header-gradient:linear-gradient(#e0e0e0, #666666);
    --color-main:  #1a1a1a;
    --secondary-color:#181818;
    --box1-color:#363636;
    --box2-color:#797979;
    --box3-color:#22222200;
    --background-main:rgb(31, 31, 31);
    --link-hover:rgb(32, 32, 32);
    --link-color:rgb(189, 189, 189);
    --text-color:#2b2b2b;
    --text2-color:rgb(0, 0, 0);
    --gradient-main: linear-gradient(90deg, rgba(230,230,230, 1) 0%, rgba(150, 150, 150, 1) 70%, rgba(0, 0, 0, 0) 100%);




}


.dark-mode:root{
    --header-gradient:linear-gradient(#002c1e, #00462e);
    --color-main:  #007566;
    --secondary-color:#00462e;
    --box1-color:#01473c;
    --box2-color:#002c25;
    --box3-color:#00251800;
    --background-main:rgb(31, 31, 31);
    --link-hover:rgb(26, 32, 31);
    --link-color:rgb(25, 134, 134);
    --text-color:#b4e2e2;
    --text2-color:#b4e2e2;
    --gradient-main: linear-gradient(90deg, rgba(5,30,30, 1) 0%, rgba(2, 20, 20, 1) 70%, rgba(237, 221, 83, 0) 100%)


}


.space-mode:root{
    --header-gradient:linear-gradient(#19305c, #0a6faa);
    --color-main:  #000138;
    --secondary-color:#001e46;
    --box1-color:#010247;
    --box2-color:rgb(8, 40, 109);
    --box3-color:#00252200;
    --background-main:rgb(30, 30, 34);
    --link-hover:rgb(164, 180, 255);
    --link-color:rgb(10, 127, 156);
    --text-color:#b4e2e2;
    --text2-color:#b4e2e2;
    --gradient-main: linear-gradient(90deg, rgba(51,51,153, 1) 0%, rgba(3,0,44, 1) 70%, rgba(237, 221, 83, 0) 100%)


}